.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media (max-width: 768px) {
  .place__title {
    margin: 0;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 425px) {
  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
