.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media (max-width: 425px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .lead__title {
    max-width: 100%;
    font-size: 12vw;
    line-height: 13vw;
  }
}
